@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-light: #fff;
  --primary-black: #151515;
  --secondary-black: #282828;
  --primary-color: #f36b1c;
  --secondary-color: #f8d605;
  --clr-blue-500: #042c71;
  --clr-blue-400: #084387;
  --clr-blue-300: #0b6ab0;
  --clr-orange-500: #ce4912;
}

img {
  width: 100%;
  max-width: 600px;
}

body {
  font-family: 'Poppins';
  font-size: clamp(1rem, 6vw, 1rem);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  color: var(--primary-black);
  text-align: center;
  margin: 0 auto 0.7em auto;
  padding: 0;
}

p {
  color: var(--secondary-black);
  text-align: left;
  margin: 1em 0;
  line-height: 180%;
}

h2 {
  color: var(--primary-black);
  text-align: center;
  padding-top: 0em;
}

.container {
  padding: 1.3em 2em;
  margin: 0 auto;
  max-width: 1600px;
}

.btn {
  color: var(--primary-light);
  display: inline-block;
  background: var(--primary-black);
  padding: 0.3em 1.3em;
  margin-bottom: 2em;
}

/* loader init */
.lds-facebook {
  display: none;
  position: relative;
  width: 35px;
  height: 40px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 7px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 13px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 26px;
  /* animation-delay: 0; */
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 25px;
  }
  50%,
  100% {
    top: 12px;
    height: 16px;
  }
}

/* loader end */

/* navbar section  */
header .container {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 2em;
}

/* hero section  */
.hero {
  background: var(--primary-color);
}
.hero-content {
  margin: 0 auto;
}

.hero-title {
  font-size: 2.9em;
  text-transform: capitalize;
  margin: 0 0 0.3em 0;
  text-align: left;
  line-height: 120%;
}
.hero-title span {
  color: var(--primary-light);
}
.hero-p {
  margin-top: 0;
  margin-bottom: 2em;
  text-align: left;
  max-width: 500px;
}

.hero-img {
  max-width: 500px;
  justify-self: center;
}

/* work section  */

.card-title {
  margin-top: 1.5em;
  padding: 0;
  font-size: 1.2em;
}

.card-description {
  text-align: justify;
  margin-bottom: 1.4em;
}

.card-btn-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.7em;
}

.work-card .btn {
  margin-bottom: 0.5em;
}

/* feature section  */
.feature > .container {
  padding: 0;
}
.feature-right {
  background-color: var(--primary-color);
}

.feature-left {
  background-color: var(--secondary-color);
}

.feature-img {
  max-width: 250px;
}

.feature-content {
  margin: 0 auto;
}

.feature-title {
  font-size: 2.7em;
  text-transform: capitalize;
  margin: 0 0 0.3em 0;
  text-align: left;
  line-height: 120%;
}
.feature-title span {
  color: var(--primary-light);
}
.feature-p {
  margin-top: 0;
  margin-bottom: 2em;
  text-align: left;
  max-width: 500px;
}

/* contact section  */
.underline {
  text-decoration: underline;
  color: var(--primary-black);
}
.contact-social-cols {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 4em 0 3em 0;
}

.contact-link {
  width: 7em;
  text-align: center;
  padding: 1em;
  color: var(--primary-black);
  text-decoration: underline;
  border: 1px solid var(--primary-black);
}

/* form section */
.honeypot-field {
  display: none;
}

fieldset {
  border: none;
  margin-top: 1.5em;
}

.form-label {
  display: block;
  font-weight: bold;

  margin-bottom: 0.5em;
  color: var(--secondary-black);
}

.checkbox-label {
  display: unset;
  font-weight: normal;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.2em;
  border: 1px solid #acacac;
  color: #1b1820;
  font-size: 1em;
  font-family: 'Poppins';
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: 1px solid var(--clr-blue-300);
}

/* checkbox init */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 12px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* checkbox end */

.cta {
  margin-top: 0.3em;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
}

/* >>>>>>>>>>>>>>>>>>>>>> footer section >>>>>>>>>>>>>>>>>>>>>>>>> */

footer {
  border-top: solid 0.1em var(--primary-black);
}
.footer-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-col:nth-child(2) {
  justify-self: end;
}

.footer-col {
  margin-top: 1em;
}

.copyright {
  grid-column: 1/3;
}

.copyright-p {
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .body {
    font-size: 1.2rem;
  }
  /* hero section  */
  .hero .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2em;
    align-items: center;
  }

  /* work section */
  .work-cols {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
  }
  .card-description {
    text-align: left;
  }
  /* feature section */
  .feature {
    display: grid;
    grid-template-columns: 1fr minmax(1em, 800px) minmax(1em, 800px) 1fr;
    background-color: var(--primary-color);
    grid-template-areas: 'a b c d';
    align-items: center;
  }
  .feature-margin-left {
    grid-area: a;
    height: 100%;
    background: var(--secondary-color);
  }

  .feature-left {
    grid-area: b;
  }
  .feature-left .container {
    display: flex;
    justify-content: center;
  }

  .feature-right {
    grid-area: c;
  }
  .feature-right .container {
    display: flex;
    justify-content: start;
  }
  .feature-margin-right {
    grid-area: d;
    height: 100%;
  }

  /* contact section  */
  .contact-p {
    text-align: center;
  }
  .contact-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
  }

  .contact-social-cols {
    margin: 0;
    align-self: start;
    margin-top: 11em;
  }

  /* footer section  */

  .footer-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    justify-items: center;
  }

  .footer-col:nth-child(2) {
    justify-self: unset;
  }

  .copyright {
    grid-column: 3/4;
  }

  .copyright-p {
    text-align: left;
    margin: 0;
  }
}

@media only screen and (min-width: 1265px) {
  /* hero section */
  .hero-title {
    font-size: 4em;
  }
  /* work section */
  .work-cols {
    grid-template-columns: repeat(3, 23%);
    justify-content: space-around;
  }
  /* contact section  */
  .contact-link {
    width: 9em;
    justify-self: center;
  }
}
